<a href="https://colab.research.google.com/github/Parthsarthi-lab/Machine-Learning-Projects/blob/main/College_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
from sklearn.model_selection import train_test_split

In [ ]:
college = pd.read_csv("/content/drive/MyDrive/Datasets/PYTHON/Demo_Datasets.zip (Unzipped Files)/Demo Datasets/Lesson 6/College.csv")
college

    Private   Apps  Accept  Enroll  ...  S.F.Ratio  perc.alumni  Expend  Grad.Rate
0       Yes   1660    1232     721  ...       18.1           12    7041         60
1       Yes   2186    1924     512  ...       12.2           16   10527         56
2       Yes   1428    1097     336  ...       12.9           30    8735         54
3       Yes    417     349     137  ...        7.7           37   19016         59
4       Yes    193     146      55  ...       11.9            2   10922         15
..      ...    ...     ...     ...  ...        ...          ...     ...        ...
772      No   2197    1515     543  ...       21.0           14    4469         40
773     Yes   1959    1805     695  ...       13.3           31    9189         83
774     Yes   2097    1915     695  ...       14.4           20    8323         49
775     Yes  10705    2453    1317  ...        5.8           49   40386         99
776     Yes   2989    1855     691  ...       18.1           28    4509         99

[777 rows x 18 columns]

In [ ]:
college.isna().sum() # Check for missing data

Private        0
Apps           0
Accept         0
Enroll         0
Top10perc      0
Top25perc      0
F.Undergrad    0
P.Undergrad    0
Outstate       0
Room.Board     0
Books          0
Personal       0
PhD            0
Terminal       0
S.F.Ratio      0
perc.alumni    0
Expend         0
Grad.Rate      0
dtype: int64

In [ ]:
college.dtypes

Private         object
Apps             int64
Accept           int64
Enroll           int64
Top10perc        int64
Top25perc        int64
F.Undergrad      int64
P.Undergrad      int64
Outstate         int64
Room.Board       int64
Books            int64
Personal         int64
PhD              int64
Terminal         int64
S.F.Ratio      float64
perc.alumni      int64
Expend           int64
Grad.Rate        int64
dtype: object

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
college['Private'] = le.fit_transform(college['Private'])
college

     Private   Apps  Accept  Enroll  ...  S.F.Ratio  perc.alumni  Expend  Grad.Rate
0          1   1660    1232     721  ...       18.1           12    7041         60
1          1   2186    1924     512  ...       12.2           16   10527         56
2          1   1428    1097     336  ...       12.9           30    8735         54
3          1    417     349     137  ...        7.7           37   19016         59
4          1    193     146      55  ...       11.9            2   10922         15
..       ...    ...     ...     ...  ...        ...          ...     ...        ...
772        0   2197    1515     543  ...       21.0           14    4469         40
773        1   1959    1805     695  ...       13.3           31    9189         83
774        1   2097    1915     695  ...       14.4           20    8323         49
775        1  10705    2453    1317  ...        5.8           49   40386         99
776        1   2989    1855     691  ...       18.1           28    4509         99

[777 rows x 18 columns]

In [ ]:
X = college.iloc[:,1:]
y=  college.iloc[:,:1]

xtrain,xtest,ytrain,ytest = train_test_split(X,y,test_size=0.2,random_state=1)
print(xtrain.shape)

(621, 17)

In [ ]:
from sklearn.svm import LinearSVC,SVC
classifier = LinearSVC()

In [ ]:
classifier.fit(xtrain,ytrain)
y_pred = classifier.predict(xtest)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/svm/_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

In [ ]:
classifier.score(xtest,ytest)

0.9551282051282052

In [ ]:
print(confusion_matrix(ytest,y_pred))

[[ 34   5]
 [  2 115]]

In [ ]:
classifier = SVC()
classifier.fit(xtrain,ytrain)
classifier.score(xtest,ytest)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.9230769230769231

In [ ]:
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X,y = college.iloc[:,1:].values,college.iloc[:,:1].values
X = scaler.fit_transform(X)
target_encoder = LabelEncoder()
y = target_encoder.fit_transform(y)

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:251: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
xtrain,xtest,ytrain,ytest = train_test_split(X,y,test_size=0.2,random_state=1)
print(xtrain.shape)

(621, 17)

In [ ]:
classifier = SVC()
classifier.fit(xtrain,ytrain)
classifier.score(xtest,ytest)

0.9423076923076923

In [ ]:
from sklearn.model_selection import StratifiedShuffleSplit
C_range = np.logspace(-2, 10, 13)
gamma_range = np.logspace(-9, 3, 13)
param_grid = dict( gamma=gamma_range,C=C_range)
grid = GridSearchCV(SVC(), param_grid=param_grid)
grid.fit(xtrain,ytrain)

GridSearchCV(cv=None, error_score=nan,
             estimator=SVC(C=1.0, break_ties=False, cache_size=200,
                           class_weight=None, coef0=0.0,
                           decision_function_shape='ovr', degree=3,
                           gamma='scale', kernel='rbf', max_iter=-1,
                           probability=False, random_state=None, shrinking=True,
                           tol=0.001, verbose=False),
             iid='deprecated', n_jobs=None,
             param_grid={'C': array([1.e-02, 1.e-01, 1.e+00, 1.e+01, 1.e+02, 1.e+03, 1.e+04, 1.e+05,
       1.e+06, 1.e+07, 1.e+08, 1.e+09, 1.e+10]),
                         'gamma': array([1.e-09, 1.e-08, 1.e-07, 1.e-06, 1.e-05, 1.e-04, 1.e-03, 1.e-02,
       1.e-01, 1.e+00, 1.e+01, 1.e+02, 1.e+03])},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [ ]:
print("The best parameters are %s with a score of %0.2f"% (grid.best_params_, grid.best_score_))

The best parameters are {'C': 1000000.0, 'gamma': 1e-07} with a score of 0.94

![image.png]()

THEREFORE THE LINEAR SVM CLASSIFIER IS THE BEST MODEL FOR PREDICTION