<a href="https://colab.research.google.com/github/Parthsarthi-lab/Machine-Learning-Projects/blob/main/Data__Manipulation_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### **SERIES**

In [ ]:
# importing necessary library
import pandas as pd
import numpy as np

In [ ]:
first_series = pd.Series(list('abcdef'))

In [ ]:
print(first_series)

0    a
1    b
2    c
3    d
4    e
5    f
dtype: object

In [ ]:
# creating a series from ndarray
np_country = np.array(['India','England','New Zealand','South Africa','Pakistan','Bangladesh','Australia','Swizterland',
                       'Sweden','Algeria','Afghanistan'])

series_country = pd.Series(np_country)
print(series_country)

0            India
1          England
2      New Zealand
3     South Africa
4         Pakistan
5       Bangladesh
6        Australia
7      Swizterland
8           Sweden
9          Algeria
10     Afghanistan
dtype: object

In [ ]:
## Creating a Series from a dictionary
dict_gdp_country = pd.Series([19.48,12.23,4.87,3.69,2.65],index=['USA','China','Japan','Germany','India'])
print(dict_gdp_country)

USA        19.48
China      12.23
Japan       4.87
Germany     3.69
India       2.65
dtype: float64

In [ ]:
# Creating a series from scalar variable
scalar_series = pd.Series(5.,index=['a','b','c','d','e'])
print(scalar_series)

a    5.0
b    5.0
c    5.0
d    5.0
e    5.0
dtype: float64

Accessing values in a Series using index

In [ ]:
dict_gdp_country[4]

2.65

In [ ]:
dict_gdp_country[0:5] # prints 0 to 4, 5 is exclusive

USA        19.48
China      12.23
Japan       4.87
Germany     3.69
India       2.65
dtype: float64

In [ ]:
dict_gdp_country['India']

2.65

In [ ]:
dict_gdp_country.loc['China'] # Index can be a string

12.23

In [ ]:
dict_gdp_country.iloc[4] # Index is postion

2.65

In [ ]:
dict_gdp_country

USA        19.48
China      12.23
Japan       4.87
Germany     3.69
India       2.65
dtype: float64

Vectorizing Operations in Series

---

---

In [ ]:
first_vector_series = pd.Series([1,2,3,4],index=['a','b','c','d'])
second_vector_series = pd.Series([10,20,30,40],index=['a' ,'b','c','d'])

In [ ]:
first_vector_series+second_vector_series

a    11
b    22
c    33
d    44
dtype: int64

In [ ]:
first_vector_series * second_vector_series

a     10
b     40
c     90
d    160
dtype: int64

In [ ]:
first_vector_series / second_vector_series

a    0.1
b    0.1
c    0.1
d    0.1
dtype: float64

In [ ]:
third_vector_series = pd.Series([10,20,30,40],index=['c','d','b','a'])  # Adds the first_vector_series['a'] + third_vector_series['a'] ,
third_vector_series+first_vector_series                                 #  first_vector_series['B'] + third_vector_series['b'] etc..

a    41
b    32
c    13
d    24
dtype: int64

In [ ]:
third_vector_series = pd.Series(['India','China','Usa','Africa'],index=['a','b','c','d'])
vector = pd.Series(['Myanmar','Bangladesh','Nepal','Pakistan'],index=['a','b','c','d'])
print(third_vector_series+vector) # str + str -- applicable

a       IndiaMyanmar
b    ChinaBangladesh
c           UsaNepal
d     AfricaPakistan
dtype: object

In [ ]:
vector_1 = pd.Series(['Myanmar','Bangladesh','Nepal','Pakistan','Sri Lanka'],index=['USA','China','Japan','Germany','India'])
dict_gdp_country+vector_1  # float + str -- not applicable

TypeError: ignored

In [ ]:
third_vector_series/vector # str + str -- applicable

In [ ]:
third_vector_series-vector # str + str -- applicable

In [ ]:
dict_1 = {'key1':123,'key 2':456}
pd.Series(dict_1)

EXERCISE

---

 Write a Pandas program to change the data type of given a column or a Series.

---

---

In [ ]:
exer_1 = pd.Series(['100','200','300','400','500','600','700','800','900','10000'])
exer_series = pd.Series(exer_1)
print(exer_series)

In [ ]:
exer_series.astype('int32')

In [ ]:
# Re-indexing of  series
exer_series[0] = exer_series[1]
print(exer_series)

### **Data Frame**

In [ ]:
# Creating a dataframe from a list
import pandas as pd

olympic_data_list = {'Host City':['London','Beijing','Australia'],'YEAR':[2012,2008,2003],'No. of participating countries':[205,206,321]}
olympic_data_frame = pd.DataFrame(olympic_data_list)
print(type(olympic_data_list))
olympic_data_frame

<class 'dict'>

   Host City  YEAR  No. of participating countries
0     London  2012                             205
1    Beijing  2008                             206
2  Australia  2003                             321

In [ ]:
olympic_list = [['Host City','Year','No. of participating countries'],['London',2012,205]]
pd.DataFrame(olympic_list)

In [ ]:
# Creating a dataframe form a dictionary
dict_olymp = {'London':{'2012':205},'Beijing':{2008:204}}
dicT_data_frame = pd.DataFrame(dict_olymp)
dicT_data_frame



> Viewing DataFrame

In [ ]:
olympic_data_frame.YEAR

In [ ]:
# use .describe to display the content of the dataframe
print(olympic_data_frame.describe)



> Creating DataFrame from dict of Series

In [ ]:
olymp_series_parti = pd.Series([205,204,201,200,197],index=[2012,2008,2004,2000,1996])
olymp_series_country = pd.Series(['London','Beijing','Athens','Sydney','Atlanta'],index=[2012,2008,2004,2000,1996])

In [ ]:
df_olymp_series = pd.DataFrame({'No of participating countries':olymp_series_parti,'Host CITY':olymp_series_country})
df_olymp_series

In [ ]:
# Experiments
nd = np.array([olymp_series_country])
nd = nd.transpose()
df = pd.DataFrame(nd)

In [ ]:
df



> Creating a dataframe from a ndarray

In [ ]:
import numpy as np

In [ ]:
np_array = np.array([100,200,400,500,600,852,456])
dict_ndarray = {'year':np_array}
df_ndarray = pd.DataFrame(dict_ndarray)
print(df_ndarray)

NameError: ignored

In [ ]:
# Creating a data frame from a dataframe
df_from_df = pd.DataFrame(df_ndarray)
print(df_from_df)