<a href="https://colab.research.google.com/github/Parthsarthi-lab/Machine-Learning-Projects/blob/main/Horse_Survival_DT_RANDOM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
animals = pd.read_csv("/content/drive/MyDrive/Datasets/PYTHON/horse.csv")
animals.head()

  surgery    age  hospital_number  ...  lesion_2  lesion_3  cp_data
0      no  adult           530101  ...         0         0       no
1     yes  adult           534817  ...         0         0       no
2      no  adult           530334  ...         0         0      yes
3     yes  young          5290409  ...         0         0      yes
4      no  adult           530255  ...         0         0       no

[5 rows x 28 columns]

In [ ]:
target = animals['outcome']

In [ ]:
target.unique()

array(['died', 'euthanized', 'lived'], dtype=object)

In [ ]:
animals.drop(labels=['outcome'],axis=1,inplace=True)

In [ ]:
# Checking the datatypes of the columns
animals.dtypes

surgery                   object
age                       object
hospital_number            int64
rectal_temp              float64
pulse                    float64
respiratory_rate         float64
temp_of_extremities       object
peripheral_pulse          object
mucous_membrane           object
capillary_refill_time     object
pain                      object
peristalsis               object
abdominal_distention      object
nasogastric_tube          object
nasogastric_reflux        object
nasogastric_reflux_ph    float64
rectal_exam_feces         object
abdomen                   object
packed_cell_volume       float64
total_protein            float64
abdomo_appearance         object
abdomo_protein           float64
surgical_lesion           object
lesion_1                   int64
lesion_2                   int64
lesion_3                   int64
cp_data                   object
dtype: object

In [ ]:
# Storing all the categorical variables in a list
category_var = ['surgery','age','temp_of_extremities','peripheral_pulse','mucous_membrane','capillary_refill_time','pain','peristalsis',
                'abdominal_distention','nasogastric_tube','nasogastric_reflux','rectal_exam_feces','abdomen','abdomo_appearance','surgical_lesion','cp_data']

for category in category_var:
  animals[category] = pd.get_dummies(animals[category])

In [ ]:
animals

     surgery  age  hospital_number  ...  lesion_2  lesion_3  cp_data
0          1    1           530101  ...         0         0        1
1          0    1           534817  ...         0         0        1
2          1    1           530334  ...         0         0        0
3          0    0          5290409  ...         0         0        0
4          1    1           530255  ...         0         0        1
..       ...  ...              ...  ...       ...       ...      ...
294        0    1           533886  ...         0         0        1
295        1    1           527702  ...         0         0        0
296        0    1           529386  ...         0         0        1
297        0    1           530612  ...         0         0        0
298        0    1           534618  ...         0         0        1

[299 rows x 27 columns]

In [ ]:
# dividing training and testing data
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

feature_cols= animals.columns
X,y = animals[feature_cols],target

le = LabelEncoder()
y = le.fit_transform(y)

In [ ]:
xtrain,xtest,ytrain,ytest = train_test_split(X,y,test_size=0.2,random_state=1)

In [ ]:
for i in xtrain.columns:
  xtrain = xtrain.fillna(xtrain[i].mode()[0])
  xtest  = xtest.fillna(xtest[i].mode()[0])

In [ ]:
print(xtrain.isnull().any())
print(xtest.isnull().any())

surgery                  False
age                      False
hospital_number          False
rectal_temp              False
pulse                    False
respiratory_rate         False
temp_of_extremities      False
peripheral_pulse         False
mucous_membrane          False
capillary_refill_time    False
pain                     False
peristalsis              False
abdominal_distention     False
nasogastric_tube         False
nasogastric_reflux       False
nasogastric_reflux_ph    False
rectal_exam_feces        False
abdomen                  False
packed_cell_volume       False
total_protein            False
abdomo_appearance        False
abdomo_protein           False
surgical_lesion          False
lesion_1                 False
lesion_2                 False
lesion_3                 False
cp_data                  False
dtype: bool
surgery                  False
age                      False
hospital_number          False
rectal_temp              False
pulse                    False
respiratory_rate         False
temp_of_extremities      False
peripheral_pulse         False
mucous_membrane          False
capillary_refill_time    False
pain                     False
peristalsis              False
abdominal_distention     False
nasogastric_tube         False
nasogastric_reflux       False
nasogastric_reflux_ph    False
rectal_exam_feces        False
abdomen                  False
packed_cell_volume       False
total_protein            False
abdomo_appearance        False
abdomo_protein           False
surgical_lesion          False
lesion_1                 False
lesion_2                 False
lesion_3                 False
cp_data                  False
dtype: bool

In [ ]:
# Fitting the decision tree classifier
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier()
classifier.fit(xtrain,ytrain)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [ ]:
y_predict = classifier.predict(xtest)

In [ ]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_predict,ytest)
print(accuracy)

0.6833333333333333

In [ ]:
# Using randomforest classifier
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier()
classifier.fit(xtrain,ytrain)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [ ]:
y_pred = classifier.predict(xtest)
accurac = accuracy_score(y_pred,ytest)
print(accurac*100,"%")

73.33333333333333 %

Hence accuracy for random forest classifier is more as we wanted.