<a href="https://colab.research.google.com/github/Parthsarthi-lab/Machine-Learning-Projects/blob/main/Kinematic_Data_Naive_Bayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as  np0
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Data Science/Lesson end project 6.zip (Unzipped Files)/Lesson 6/run_or_walk.csv")
df.head()

        date                time username  ...  gyro_x  gyro_y  gyro_z
0  2017-6-30  13:51:15:847724020   viktor  ... -0.0590  0.0325 -2.9296
1  2017-6-30  13:51:16:246945023   viktor  ... -0.1757  0.0208  0.1269
2  2017-6-30  13:51:16:446233987   viktor  ... -0.9105  0.1063 -2.4367
3  2017-6-30  13:51:16:646117985   viktor  ...  0.1199 -0.4099 -2.9336
4  2017-6-30  13:51:16:846738994   viktor  ...  0.0527  0.4379  2.4922

[5 rows x 11 columns]

In [ ]:
# Columns in the dataset
df.columns

Index(['date', 'time', 'username', 'wrist', 'activity', 'acceleration_x',
       'acceleration_y', 'acceleration_z', 'gyro_x', 'gyro_y', 'gyro_z'],
      dtype='object')

In [ ]:
X = df.drop(labels=['date','time','username','wrist','activity'],axis=1).values
y = df.activity.values

xtrain,xtest,ytrain,ytest = train_test_split(X,y,test_size=0.3,random_state=42)
print(xtrain.shape)

(62011, 6)

In [ ]:
# Fitting the naive bayes model
from sklearn.naive_bayes import GaussianNB
naive_baye = GaussianNB()
naive_baye.fit(xtrain,ytrain)

GaussianNB(priors=None, var_smoothing=1e-09)

In [ ]:
y_pred = naive_baye.predict(xtest)
accuracy_score(ytest,y_pred)

0.9575572863754374

#### MODEL WITH ONLY ACCELARATION VALUES

In [ ]:
# Fitting the model with only accelarator columns
X = df.iloc[:,5:8].values
y = df.activity.values
xtrain,xtest,ytrain,ytest = train_test_split(X,y,test_size=0.3,random_state=42)
print(xtrain.shape)

# Fitting the naive bayes model
from sklearn.naive_bayes import GaussianNB
naive_baye = GaussianNB()
naive_baye.fit(xtrain,ytrain)

y_pred = naive_baye.predict(xtest)
accuracy_score(ytest,y_pred)

(62011, 3)

0.958648455431388

#### MODEL WITH ONLY GYROSCOPE VALUES

In [ ]:
# Fitting the model with only accelarator columns
X = df.iloc[:,8:].values
y = df.activity.values
xtrain,xtest,ytrain,ytest = train_test_split(X,y,test_size=0.3,random_state=42)
print(xtrain.shape)

# Fitting the naive bayes model
from sklearn.naive_bayes import GaussianNB
naive_baye = GaussianNB()
naive_baye.fit(xtrain,ytrain)

y_pred = naive_baye.predict(xtest)
accuracy_score(ytest,y_pred)

(62011, 3)

0.6525943484968205

![image.png]()

#### Hence the model with only accelaration columns has the highest accuracy among the three columns [0.958648455431388]