<a href="https://colab.research.google.com/github/Parthsarthi-lab/Machine-Learning-Projects/blob/main/User_Movie_Recommendation_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Datasets/PYTHON/Demo_Datasets.zip (Unzipped Files)/Demo Datasets/Lesson 10/Recommend.csv",header=None)
df.head()

     0    1  2          3
0  196  242  3  881250949
1  186  302  3  891717742
2   22  377  1  878887116
3  244   51  2  880606923
4  166  346  1  886397596

In [ ]:
df.columns = ["user_id","movie_id","rating","timestamp"]
df.head()

   user_id  movie_id  rating  timestamp
0      196       242       3  881250949
1      186       302       3  891717742
2       22       377       1  878887116
3      244        51       2  880606923
4      166       346       1  886397596

In [ ]:
df.user_id.unique().shape

(943,)

In [ ]:
# Since we are developing a user based recommendation model we must be aware of the no of users and the no of movies.
# So let us write the code for the same
n_users = df.user_id.unique().shape[0]
n_movies = df.movie_id.unique().shape[0]

#Now we split the data into training and testing sets
from sklearn.model_selection import train_test_split
train_data,test_data = train_test_split(df,test_size=0.25)

In [ ]:
# First create a zero matrix n_users X n_movies = 943 X 943
train_data_matrix = np.zeros((n_users,n_movies))
for line in train_data.itertuples () :
  print(line)

NameError: ignored

In [ ]:
# We will do the same for testing set
test_data_matrix = np.zeros((n_users,n_movies))
for line in test_data.itertuples () :
  test_data_matrix[line[1]-1,line[2]-1] = line[3]
test_data_matrix

array([[5., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [ ]:
# Now importing the pairwise distances from sklearn to find the cosine similarity
from sklearn.metrics import pairwise_distances
user_similarity = pairwise_distances(train_data_matrix,metric="cosine")
movie_similarity = pairwise_distances(train_data_matrix.T,metric="cosine")

# Now we will go ahead with the predictions based on the fact that user movie collaborative filtering difference from mean rating is a better
# indicator than absolute rating
mean_user_rating = train_data_matrix.mean(axis=1)[:,np.newaxis]  # Filtering is item based
rating_diff = (train_data_matrix-mean_user_rating)
user_pred = mean_user_rating+ user_similarity.dot(rating_diff)/np.array([np.abs(user_similarity).sum(axis=1)]).T
user_pred

array([[ 1.5953936 ,  0.55432849,  0.45705825, ...,  0.29288298,
         0.29272323,  0.29260783],
       [ 1.31550383,  0.2599885 ,  0.12285419, ..., -0.07029851,
        -0.06897606, -0.06879962],
       [ 1.35086886,  0.23128411,  0.0999952 , ..., -0.10076669,
        -0.0988183 , -0.09865877],
       ...,
       [ 1.20543617,  0.19364838,  0.06452649, ..., -0.12076798,
        -0.11974439, -0.11973522],
       [ 1.37410017,  0.29746242,  0.18810136, ..., -0.00470719,
        -0.00390446, -0.00376924],
       [ 1.42389736,  0.3668478 ,  0.28086909, ...,  0.11120853,
         0.11116227,  0.11115882]])

In [ ]:
train_data_matrix.mean(axis=1)#[:,np.newaxis]

In [ ]:
train_data_matrix.mean(axis=1)[:,np.newaxis]